html.lenis,
body.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  background: #000;
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#smooth-content {
  height: 100%;
}

.panel {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1) rotate(0deg);
  will-change: transform, opacity;
}
